/*
App Snake Game
By iMarcaos (github)
Project Started: 2022-02-03
Update: 2023-04-12
Version: v2-0323
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(93, 48, 255), rgb(121, 84, 255));
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* Section */
.game-container {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding-top: 110px;
    text-align: center;
}


.game-header > h2 {    
    font-size: 33px;
    color: #1A0B38;
}

.game-main canvas {
    box-shadow: 5px 5px 20px 3px rgb(63, 2, 121);
}

.game-howto {
    display: grid;
    grid-gap: 10px;
    text-align: left;
    padding: 25px;
}

.game-howto p {
    grid-area: r1;
    font-size: 18px;
    color: #1A0B38;
}

.version {
    padding-right: 10px;
    color: rgb(143, 143, 143);
    text-align: right;
    font-size: 0.8em;
}

/* Reponsive Section*/

/* Mobile */
@media screen and (max-width: 768px) {
    
    /* Section */
    .game-container {
        padding: 90px 0;
        height: 100%;
        margin: 0;
    }
}
