/*
project started: 03/02/2022 (dd/mm/yyyy)
*/

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: black 20px 10px 50px;    
}

#game-header h2 {
    text-align: center;
    font-size: 33px;
    color: #1A0B38;
}